{
    "address": "Full website URL",
    "assets": "Path to your WordPress website assets",
    "temp": "Path to your temp folder",
    "home": "Home folder of the authorized user",
    "install": "Full path to the web/wp folder",
    "lists": "Full path to the folder holding the results of the getSites() function",
    "server": "Server name hosting WordPress",
    "sites": "Title of the file created by getSites() function",
    "folder": "Root folder of your WordPress installation",
    "user": "User authorized to make changes on the server"
}